<div class="content">
  <div class="product-image">
    <div class="image-wrap">
      <img class="img" src="../../assets///img///product-image.jpg" alt="">
    </div>
  </div>
  <div class="product-info">
    <div class="brand">
      <div class="brand-name">
        <p>
          {{product.brandName}}
        </p>
      </div>
      <div class="brand-logo">
        <img src="../../assets/img//levi's-logo.png" class="levis-image" alt="">
      </div>
    </div>

    <div class="item-description">
      <p>{{product.description}}</p>
    </div>
    <div class="pricing">
      <div class="price">
        <p> {{product.basicPrice}}$ </p>

      </div>
      <div class="free-shipping">
        <p>Free shipping</p>
      </div>
    </div>
    <div class="sizing">
      <div class="size-table">
        <p>
          <a class="size-table-link" href="">Size table</a>
        </p>
      </div>
      <div class="button-block">
        <div class="select-size">
          <select class="select-size-slc" name="" id="">
            <option value="">SELECT SIZE</option>
            <option value="">XS</option>
            <option value="">S</option>
            <option value="">M</option>
            <option value="">L</option>
            <option value="">XL</option>
          </select>
        </div>
        <div class="add-to-cart">
          <button class="add-to-cart-btn">ADD TO CART</button>
        </div>
      </div>
    </div>
    <div class="shipping">
      <div class="shipping-info">
        <div class="shipping-info-image">
          <img src="../../assets/img///delivery_icon.png" alt="">
        </div>
        <div class="shipping-info-text">
          <p>FREE EXPRESS SHIPPING START FROM 100$ </p>
        </div>
      </div>
      <div class="exchange-info">
        <div class="exchange-info-image">
          <img src="../../assets/img//return_icon.png" alt="">
        </div>
        <div class="exchange-info-text">
          <p>CONVENIENT RETURN AND EXCHANGE</p>
        </div>
      </div>
    </div>
    <div class="official-stores-info">
      <div class="official-stores-info-tittle">
        OFFICIAL STORES
      </div>
      <div class="official-stores-info-description">
        Delivery from branded brand stores guarantee the originally of the goods.
      </div>
    </div>
  </div>
</div>
