<div class="modal-window">
  <div class="content">
    <div class="header">
      <div class="header-content">
        <div class="avatar-wrap">
          <div class="avatar">
            <img class="img" src="../../assets/img/avatar.jpeg" alt="">
          </div>
        </div>

        <div class="info">
          <div class="name">Ivan Ivanov</div>
          <div class="email">somemail@mail.com</div>
        </div>
      </div>

    </div>

    <div class="modal-menu">
      <div class="profile">

        <div class="image">
          <img src="../../assets//svg//avatar.svg" alt="">
        </div>
        <div class="profile-text">
          <p>My profile</p>
        </div>
      </div>
      <a routerLink="//account">
        <div class="settings">
          <div class="image">
            <img src="../../assets//svg//settings.svg" alt="">
          </div>
          <div class="settings-text">
            <p>Account settings</p>
          </div>
        </div>
      </a>
      <div (click)='signOut()'>
        <div class="sign-out">
          <div class="image">
            <img src="../../assets//svg//sing-out.svg" alt="">
          </div>
          <div class="sign-out-text">
            <p>Sign-out</p>
          </div>
        </div>
      </div>


    </div>



  </div>
</div>
