<div class="cart-item">
  <img class="img" [src]="item.img" alt="item-img">

  <div class="content">

    <div class="content__info">
      <h3>{{item.brand}}</h3>
      <h3 class="price">{{item.price}}</h3>
    </div>

    <div class="content__sold-by">
      <p>Sold By: {{item.soldBy}}</p>
    </div>

    <div class="content__options">

      <p>Size: </p>
      <div class="option__select-size">
        <select>
          <option value="" *ngFor="let items of item.size">{{items}}</option>
        </select>
      </div>

      <p class="quantity">Qty: </p>
      <div class="option__select-quantity">
        <select (change)="onChange()" [(ngModel)]="selectedOption">
          <option *ngFor="let items of item.qty">{{items}}</option>
        </select>
      </div>

    </div>

    <div class="content__buttons">
      <button class="remove" (click)="removeItem($event)">Remove</button>
      <button class="wishlist">Move To Wishlist</button>
    </div>

  </div>

</div>
